<div class="container">
<p>Category: <%=@recipe.category%></p>
<p>Title: <%=@recipe.title%></p>
<p>Yield: <%=@recipe.yield%></p>
<p>Ingridients: <%=@recipe.ingredients%></p>
<p>Content: <%=@recipe.content%></p>
<p>Level: <%=@recipe.level%></p>
<p>Country: <%=@recipe.country%></p>
</div>
